<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2>Lab Request Confirmation</h2>
            <p>Your lab request has been successfully submitted.</p>
            <p>Thank you for using our services. Your request will be forwarded to the laboratory for processing.</p>
        </div>
    </div>
</div>