@model Prescription



<form method="post" asp-controller="PatientManagement" asp-action="Prescriptions" asp-route-patientId="@Model.Patient.Id">

    <div class="form-group">
        <label asp-for="MedicinePrescription"></label>
        <input asp-for="MedicinePrescription" class="form-control" />
        <span asp-validation-for="MedicinePrescription" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <label asp-for="DoctorsId"></label>
        <select asp-for="DoctorsId" class="form-control">
            @foreach (var doctor in ViewBag.Doctors)
            {
                <option value="@doctor.DoctorId">@doctor.LastName</option>
            }
        </select>
        <span asp-validation-for="DoctorsId" class="text-danger"></span>
    </div>
 
    <div class="form-group">
        <label asp-for="DateDispensed"></label>
        <input asp-for="DateDispensed" class="form-control" type="date" />
        <span asp-validation-for="DateDispensed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes"></label>
        <textarea id="Notes" name="Notes" asp-for="Notes" rows="10" cols="60"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

 