@model HospitalManagement.Models.VitalSigns


<form asp-controller="PatientManagement" method="post" asp-action="VitalSigns" asp-route-patientId="@Model.Patient.Id">

    <div class="form-group">
        <label asp-for="Weight">Weight:</label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Height">Height:</label>
        <input asp-for="Height" class="form-control" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BloodPressure">Blood Pressure:</label>
        <input asp-for="BloodPressure" class="form-control" />
        <span asp-validation-for="BloodPressure" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Temperature">Temperature:</label>
        <input asp-for="Temperature" class="form-control" />
        <span asp-validation-for="Temperature" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BMI">BMI:</label>
        <input asp-for="BMI" class="form-control" />
        <span asp-validation-for="BMI" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

