

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ongoing Medication</th>
            <th scope="col">Allergies</th>
            <th scope="col">Medical Condition</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicalHistory in Model)
        {
            <tr>
                <td>@medicalHistory.Medications</td>
                <td>@medicalHistory.Allergies</td>
                <td>@medicalHistory.MedicalCondition</td>
            </tr>
        }
    </tbody>
</table>

