@model HospitalManagement.Models.Prescription

@{
    ViewData["Title"] = "Edit Prescription";
}

<h1>Edit Prescription</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MedicinePrescription" class="control-label"></label>
                <input asp-for="MedicinePrescription" class="form-control" />
                <span asp-validation-for="MedicinePrescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDispendsed" class="control-label"></label>
                <input asp-for="DateDispendsed" class="form-control" />
                <span asp-validation-for="DateDispendsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
