@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}


<div id="about-section" class="text-center mt-5">
    <h2 class="text-center ">About Us</h2>
    <div class="landing-page mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="image-section">
                    <img src="~/Images/forming team leadership-rafiki.png" alt="Landing page image" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6 ">
                <h3 class="mb-4" style="font-family: 'Marck Script' , cursive;">OverView</h3>
                <p>With a strong emphasis on quality assurance, patient safety, and continuous improvement, we are committed to helping healthcare organizations achieve operational excellence and deliver the highest standard of care.</p>

                <h3 class="mb-4" style="font-family: 'Marck Script' , cursive;">Vision and Mission</h3>
                <p>Our vision is to revolutionize healthcare management by empowering organizations with innovative software solutions. Our mission is to enhance the delivery of healthcare services by providing cutting-edge tools that optimize workflows, improve patient outcomes, and drive operational excellence.</p>

                <h3 class="mb-4" style="font-family: 'Marck Script' , cursive;">History</h3>
                <p>With a rich history spanning over a decade, our hospital management system has evolved to meet the ever-changing needs of the healthcare industry. From our humble beginnings, we have achieved significant milestones, garnered recognition for our contributions, and continuously adapted to technological advancements to stay at the forefront of hospital management.</p>

                <h3 class="mb-4" style="font-family: 'Marck Script' , cursive;">Core Values</h3>
                <p>At Hospital Management, we are guided by a set of core values that underpin everything we do. These values include a commitment to patient-centric care, excellence, innovation, integrity, and compassion. We believe in fostering a culture that promotes collaboration, respect, and a relentless pursuit of excellence in healthcare management.</p>
@*
                <h3 class="mb-4">Team</h3>
                <p>Our hospital management system is backed by a team of highly skilled professionals who bring diverse expertise and knowledge to the table. Led by our experienced management team, our staff includes software developers, healthcare experts, project managers, and support personnel. Together, we are dedicated to delivering tailored solutions that address the unique challenges faced by healthcare organizations.</p>

                <h3 class="mb-4">Technology</h3>
                <p>Our hospital management system leverages advanced technologies and robust software platforms to optimize hospital operations and enhance patient care. We employ cutting-edge tools such as data analytics, cloud computing, artificial intelligence, and interoperability to ensure seamless integration and efficient management of critical healthcare processes.</p>

                <h3 class="mb-4">Quality and Patient Care</h3>
                <p>Quality assurance, patient safety, and patient satisfaction are at the core of our commitment to delivering exceptional healthcare solutions. We adhere to stringent quality standards, follow best practices, and continuously monitor and improve our system to meet the evolving needs of healthcare providers. Our dedication to excellence is reflected in our certifications, accreditations, and ongoing quality improvement initiatives.</p>
            </div>
            </div>*@
        </div>
    </div>

   
