@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div id="services-section" class="container mt-5">
    <h2 class="text-center ">Services</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        <div class="col" style="width: 18rem;">
            <div class="card h-100">
                <img src="~/Images/Oncology patient-rafiki.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Patient Management</h5>
                    <p class="card-text">The system allows efficient registration of patients, creation of electronic medical records (EMRs), and management of patient demographics, including personal details, medical history, and insurance information..</p>
                </div>
            </div>
        </div>
        <div class="col" style="width: 18rem;">
            <div class="card h-100">
                <img src="~/Images/Doctors-rafiki.png" class="card-img-top mx-auto d-block" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Doctor Management</h5>
                    <p class="card-text text-center">The system allows efficient registration of doctors, adding them to different departments and doctor management</p>
                </div>
            </div>
        </div>
        <div class="col" style="width: 18rem;">
            <div class="card h-100">
                <img src="~/Images/Laboratory-rafiki.png" class="card-img-top mx-auto d-block" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Laboratory Management</h5>
                    <p class="card-text text-center">Integrated laboratory and radiology modules assist in managing and tracking laboratory tests, sample results, and radiology imaging orders.</p>
                </div>
            </div>
        </div>
        <div class="col" style="width: 18rem;">
            <div class="card h-100">
                <img src="~/Images/Remedy-rafiki.png" class="card-img-top mx-auto d-block" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Pharmacy Management</h5>
                    <p class="card-text text-center">The system includes modules for managing pharmacy operations, such as medication orders, inventory tracking, and dispensing. This helps in maintaining optimal stock levels, reducing medication errors, and managing drug interactions.</p>
                </div>
            </div>
        </div>
        <div class="col" style="width: 18rem;">
            <div class="card h-100">
                <img src="~/Images/Health professional team-rafiki.png" class="card-img-top mx-auto d-block" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Staff Management</h5>
                    <p class="card-text text-center">The system often include modules for managing pharmacy operations, such as medication orders, inventory tracking, and dispensing. This helps in maintaining optimal stock levels, reducing medication errors, and managing drug interactions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
