@model HospitalManagement.Models.Bill

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BillNumber" class="control-label"></label>
                <input asp-for="BillNumber" class="form-control" />
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorCharge" class="control-label"></label>
                <input asp-for="DoctorCharge" class="form-control" />
                <span asp-validation-for="DoctorCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineCharge" class="control-label"></label>
                <input asp-for="MedicineCharge" class="form-control" />
                <span asp-validation-for="MedicineCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabaratoryCharge" class="control-label"></label>
                <input asp-for="LabaratoryCharge" class="form-control" />
                <span asp-validation-for="LabaratoryCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBill" class="control-label"></label>
                <input asp-for="TotalBill" class="form-control" />
                <span asp-validation-for="TotalBill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
