<!-- _LabRequest.cshtml -->
@model LabRequestViewModel

<!-- _LabRequest.cshtml -->
<!-- _LabRequest.cshtml -->
<form asp-action="SendLabRequest" asp-controller="LabManagement" method="post">
@*    <input type="hidden" asp-for="PatientId" value="@Model.PatientId" />
*@    

   
</form>


