<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" 
    />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HospitalManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                   
                </div>
            </div>
        </nav>
    </header>
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav d-inline-block ">
                        <li class="nav-item">
                                                  
                        <a class="nav-link text-dark" asp-area="" asp-controller="Patients" asp-action="Index">
                            <span class="material-symbols-outlined  align-middle">
                                personal_injury
                            </span> Patients
                        </a>
                        </li>
                        <li class="nav-item">

                        <a class="nav-link text-dark" asp-area="" asp-controller="Doctors" asp-action="Index">
                            <span class="material-symbols-outlined align-middle">
                                stethoscope

                            </span> Doctors
                        </a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">
                            <span class="material-symbols-outlined align-middle">
                                science
                            </span> Laboratory
                        </a>
                        <li class="nav-item">


                        <a class="nav-link text-dark" asp-area="" asp-controller="Pharmacies" asp-action="Index">
                            <span class="material-symbols-outlined align-middle">
                                medication
                            </span> Pharmacy
                        </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                        <span> Saved reports</span>

                        <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span class="material-symbols-outlined align-middle">
                            add_circle
                        </span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span class="material-symbols-outlined align-middle">
                                lab_profile
                            </span>
                            Lab Reports
                            </a>
                    </ul>
                 </div>
            </nav>
        </div>
 
   
<div class="innerwrapper-section">
       
            <main role="main" class=" p-3">
                @RenderBody()
            </main>
       
</div>
   

    <footer class="border-top footer text-muted ">
        <div class="container-fluid">
            &copy; 2023 - HospitalManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/8.9.0/simpleicons.svg" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/4.0.0/font/MaterialIcons-Regular.ttf" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
