@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" 
    />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="landing">HospitalManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage Roles
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="AppRoles"
                                   asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item" asp-controller="AppRoles"
                                   asp-action="ListRoles">Roles</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                   
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid  mt-5">
        <div class="row">
               @if (signInManager.IsSignedIn(User))
            {
                <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block ">


                    <div class="position-sticky pt-3 sidebar-sticky">
                        <ul class="nav d-inline-block pt-3 ">

                            <li class="list active" id="dashboard">

                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                    <span class="material-symbols-outlined  align-middle">
                                        dashboard
                                    </span> <span class="title">DashBoard</span>
                                </a>
                            </li>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="list"id="patient">

                                    <a class="nav-link text-white" asp-area="" asp-controller="Patients" asp-action="Index">
                                        <span class="material-symbols-outlined  align-middle">
                                            personal_injury
                                        </span>
                                        <span class="title">Patients</span>
                                
                                    </a>
                                </li>
                            }
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <li class="list" id="doctor">

                                    <a class="nav-link text-white" asp-area="" asp-controller="Doctors" asp-action="Index">
                                        <span class="material-symbols-outlined align-middle">
                                            stethoscope

                                        </span>
                                        <span class="title">
                                            Doctors
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="list" id="laboratory">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Laboratories" asp-action="Index">
                                        <span class="material-symbols-outlined align-middle">
                                            science
                                        </span>
                                        <span class="title">Laboratory</span>
                                
                                    </a>
                                </li>
                                <li class="list dropdown" id="pharmacy">
                                <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" asp-area="" asp-controller="Pharmacies" asp-action="Index">
                                        <span class="material-symbols-outlined align-middle">
                                            medication
                                        </span>
                                        <span class="title">Pharmacy</span>
                                            
                                    </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Out of Stock</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
              
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                                </li>
                            }
                        </ul>


                      
                    </div>
            </nav>
            }

                    



           <main role="main" class="col-md-10 m-sm-auto col-lg-9 px-4 shadow p-4 mt-5 ms-5 mb-5 me-5">
                @RenderBody()
            </main>
       </div>

    </div>

 

    <footer class="border-top footer text-muted ">
        <div class="container-fluid text-center">
            

            &copy;<span id="current-year"></span> - HospitalManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/8.9.0/simpleicons.svg" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/4.0.0/font/MaterialIcons-Regular.ttf" asp-append-version="true"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.js" integrity="sha512-Cv3WnEz5uGwmTnA48999hgbYV1ImGjsDWyYQakowKw+skDXEYYSU+rlm9tTflyXc8DbbKamcLFF80Cf89f+vOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
