@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="form-floating">

<div class="row">
        <div class="col-md-6">
            <section>
                <img src="~/images/Sign up-rafiki.png" class="w-100" />
            </section>
        </div>
        <div class="col-md-6 mt-5">

            <section>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating mt-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating mt-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />


                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
                                        <br />

                    <br />

                    <p>
                       Already have an account <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Click here.</a>
                    </p>

                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                    <br />

                </form>
            </section>

        </div>

          
  </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
