@model HospitalManagement.Models.HospitalMngt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HospitalMngt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Wards" class="control-label"></label>
                <input asp-for="Wards" class="form-control" />
                <span asp-validation-for="Wards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beds" class="control-label"></label>
                <input asp-for="Beds" class="form-control" />
                <span asp-validation-for="Beds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WardCategory" class="control-label"></label>
                <input asp-for="WardCategory" class="form-control" />
                <span asp-validation-for="WardCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floors" class="control-label"></label>
                <input asp-for="Floors" class="form-control" />
                <span asp-validation-for="Floors" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOccupied" /> @Html.DisplayNameFor(model => model.IsOccupied)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Stations" class="control-label"></label>
                <input asp-for="Stations" class="form-control" />
                <span asp-validation-for="Stations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
