html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #sidebarMenu {
        display: none;
    }

    .nav-item {
        text-align: center;
        margin: 0.5rem 0;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .material-symbols-outlined {
        font-size: 2rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    /*    max-width: 100%;
*/ /*min-height:100vh;*/
}
/* Style the fixed navbar */

#sidebarMenu {
    
    background: #213373;
    transition: width 0.5s;
    
}
    #sidebarMenu hide {
        width: 70px;
    }

        #sidebarMenu ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
       
    }

        #sidebarMenu ul li {
            position: relative;
            list-style: none;
            width: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            cursor: pointer
        }

            #sidebarMenu ul li.active {
                background: #EAEFF5;
            }

                #sidebarMenu ul li.active a,
                #sidebarMenu ul li.active .title {
                    color: var(--primary-color);
                }

.title.active {
    color: blue;
}

#sidebarMenu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

#sidebarMenu ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    border-radius: 50%;
}

#sidebarMenu ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    border-radius: 50%;
}
/*.....................
06:Side nav Icons styling section
......................*/
#sidebarMenu ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

    #sidebarMenu ul li a .icon ion-icon {
        position: relative;
        font-size: 1.5rem;
        z-index: 1;
    }


@media (max-width:600px) {


    #sidebarMenu {
        position: relative;
        height: 2000px;
        width: 70px;
        background: #213373;
        overflow-x: hidden;
        transition: width 0.5s;
    }

   
 
}

@media (max-width:768px) {
    .Side-navigation {
        position: relative;
        height: 1800px;
        width: 70px;
        background: #213373;
        overflow-x: hidden;
        transition: width 0.5s;
    }
}


/* Style the main content area */
main {
    margin-top: 56px; /* Adjust to match height of navbar */
    padding: 15px;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
}





/*#account {
    min-width: 500px;
    min-height: inherit;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 250px;
    box-shadow: 0px -3px 9px #aaa9a9a2,0px 3px 7px rgba(147, 149, 151, 0.671);
}
#registerForm {
    min-width: 500px;
    min-height:inherit;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem ;
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 250px;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
}
.row {
   
  */ /*position: relative;
}*/
/*#login-submit {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    float:right;
    position:relative;

}
#registerSubmit {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
}*/
table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #24a0ed;
}

.btn {
    width: max-content;
}

/*.sidebar {
    position: fixed;
    top: 60px;
    float: left;*/

/* rtl:raw:
  right: 0;
  */
/*bottom: 60px;*/
/* rtl:remove */
/*left: 0;
    z-index: 100;*/ /* Behind the navbar */
/*padding: 10px 0 0;*/ /* Height of navbar */
/*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 6rem
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;*/ /* Scrollable contents if viewport is shorter than content. */
/*}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: #2470dc;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
}

.nav-item{
   
 
}
.container-main {
    position: relative;
    top: 2px;
    bottom: 60px;
}
.innerwrapper-section
{
       margin-top: 6rem !important;
    position: relative;
    margin: 1rem 3rem;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 6rem;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
    margin-left: 18rem;
   
   
}*/
table {
    min-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

