@model HospitalManagement.Models.Patients

@{
    ViewData["Title"] = "New Patient";
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
    <div class="col-md-4">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="AssignedDoctor" class="control-label"></label>
        <select asp-for="AssignedDoctor" class="form-control" asp-items="@((IEnumerable<SelectListItem>)ViewBag.DoctorList)">
            <option value="">-- Select a doctor --</option>
        </select>
        <span asp-validation-for="AssignedDoctor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegDate" class="control-label"></label>
        <input asp-for="RegDate" class="form-control" />
        <span asp-validation-for="RegDate" class="text-danger"></span>
    </div>

   
   
    <div class="form-group">
        <label asp-for="PatientType" class="control-label me-2" id="PatientType"></label>
        <select asp-for="PatientType" class="form-select">
            <option value="Outpatient">Outpatient</option>
            <option value="Inpatient">Inpatient</option>
        </select>
        <span asp-validation-for="PatientType" class="text-danger"></span>
    </div>
    </div>
        </div>
    </div>
</div>
<h4>Patient Details</h4>
<hr />
<form asp-action="Create">
<div class="row">  
   

    <div class="col-md-12">
       <div class=" row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <select asp-for="MaritalStatus" class="form-control">
                            <option value="">Select Status</option>

                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="divorced">Divorced</option>
                            <option value="widowed">Widowed</option>



                        </select>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="UnderEighteen" class="form-check-input" type="checkbox" value="under18" id="UnderEighteen">
                        <label asp-for="UnderEighteen" class="form-check-label" for="UnderEighteen">
                            Patient under 18?
                        </label>
                    </div>
                  

                    
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <select asp-for="Address" class="form-control">
                            <option value="">Select county</option>
                            <option value="baringo">Baringo</option>
                            <option value="bomet">Bomet</option>
                            <option value="bungoma">Bungoma</option>
                            <option value="busia">Busia</option>
                            <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                            <option value="embu">Embu</option>
                            <option value="garissa">Garissa</option>
                            <option value="homa bay">Homa Bay</option>
                            <option value="isiolo">Isiolo</option>
                            <option value="kajiado">Kajiado</option>
                            <option value="kakamega">Kakamega</option>
                            <option value="kericho">Kericho</option>
                            <option value="kiambu">Kiambu</option>
                            <option value="kilifi">Kilifi</option>
                            <option value="kirinyaga">Kirinyaga</option>
                            <option value="kisii">Kisii</option>
                            <option value="kisumu">Kisumu</option>
                            <option value="kitui">Kitui</option>
                            <option value="kwale">Kwale</option>
                            <option value="laikipia">Laikipia</option>
                            <option value="lamu">Lamu</option>
                            <option value="machakos">Machakos</option>
                            <option value="makueni">Makueni</option>
                            <option value="mandera">Mandera</option>
                            <option value="meru">Meru</option>
                            <option value="migori">Migori</option>
                            <option value="marsabit">Marsabit</option>
                            <option value="mombasa">Mombasa</option>
                            <option value="muranga">Muranga</option>
                            <option value="nairobi">Nairobi</option>
                            <option value="nakuru">Nakuru</option>
                            <option value="nandi">Nandi</option>
                            <option value="narok">Narok</option>
                            <option value="nyamira">Nyamira</option>
                            <option value="nyandarua">Nyandarua</option>
                            <option value="nyeri">Nyeri</option>
                            <option value="samburu">Samburu</option>
                            <option value="siaya">Siaya</option>
                            <option value="taita taveta">Taita Taveta</option>
                            <option value="tana river">Tana River</option>
                            <option value="tharaka nithi">Tharaka Nithi</option>
                            <option value="trans nzoia">Trans Nzoia</option>
                            <option value="turkana">Turkana</option>
                            <option value="uasin gishu">Uasin Gishu</option>
                            <option value="vihiga">Vihiga</option>
                            <option value="wajir">Wajir</option>
                            <option value="pokot">West Pokot</option>
                        </select>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    @if (Model?.UnderEighteen == true)
                    {
                        <div class="form-group">
                            <label asp-for="ParentGuardianName">Parent/Guardian Name</label>
                            <input asp-for="ParentGuardianName" class="form-control" />
                        </div>
                    }
                </div>
                <div class="col-md-4">




                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="">--Select--</option>

                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="Retired">Other</option>



                        </select>                        
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="EmploymentStatus" class="control-label"></label>
                        <select asp-for="EmploymentStatus" class="form-control">
                            <option value="">Select Status</option>

                            <option value="Employed">Employed</option>
                            <option value="Unemployed">Unemployed</option>
                            <option value="Retired">Retired</option>
                            <option value="Retired">Other</option>


                            
                            </select>
                        <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
                    </div>
                </div>
       </div>
        
      
    </div>

        <div>
            <h4>Next Of Kin Details</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKin" class="control-label"></label>
                        <input asp-for="NextOfKin" class="form-control" />
                        <span asp-validation-for="NextOfKin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NextOfKinAddress" class="control-label"></label>
                        <select asp-for="NextOfKinAddress" class="form-control" id="county">
                            <option value="">Select county</option>

                            <option value="baringo">Baringo</option>
                            <option value="bomet">Bomet</option>
                            <option value="bungoma">Bungoma</option>
                            <option value="busia">Busia</option>
                            <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                            <option value="embu">Embu</option>
                            <option value="garissa">Garissa</option>
                            <option value="homa bay">Homa Bay</option>
                            <option value="isiolo">Isiolo</option>
                            <option value="kajiado">Kajiado</option>
                            <option value="kakamega">Kakamega</option>
                            <option value="kericho">Kericho</option>
                            <option value="kiambu">Kiambu</option>
                            <option value="kilifi">Kilifi</option>
                            <option value="kirinyaga">Kirinyaga</option>
                            <option value="kisii">Kisii</option>
                            <option value="kisumu">Kisumu</option>
                            <option value="kitui">Kitui</option>
                            <option value="kwale">Kwale</option>
                            <option value="laikipia">Laikipia</option>
                            <option value="lamu">Lamu</option>
                            <option value="machakos">Machakos</option>
                            <option value="makueni">Makueni</option>
                            <option value="mandera">Mandera</option>
                            <option value="meru">Meru</option>
                            <option value="migori">Migori</option>
                            <option value="marsabit">Marsabit</option>
                            <option value="mombasa">Mombasa</option>
                            <option value="muranga">Muranga</option>
                            <option value="nairobi">Nairobi</option>
                            <option value="nakuru">Nakuru</option>
                            <option value="nandi">Nandi</option>
                            <option value="narok">Narok</option>
                            <option value="nyamira">Nyamira</option>
                            <option value="nyandarua">Nyandarua</option>
                            <option value="nyeri">Nyeri</option>
                            <option value="samburu">Samburu</option>
                            <option value="siaya">Siaya</option>
                            <option value="taita taveta">Taita Taveta</option>
                            <option value="tana river">Tana River</option>
                            <option value="tharaka nithi">Tharaka Nithi</option>
                            <option value="trans nzoia">Trans Nzoia</option>
                            <option value="turkana">Turkana</option>
                            <option value="uasin gishu">Uasin Gishu</option>
                            <option value="vihiga">Vihiga</option>
                            <option value="wajir">Wajir</option>
                            <option value="pokot">West Pokot</option>
                        </select>
                  

                        <span asp-validation-for="NextOfKinAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKinName" class="control-label"></label>
                        <input asp-for="NextOfKinName" class="form-control" />
                        <span asp-validation-for="NextOfKinName" class="text-danger"></span>
                    </div>
                   
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKinPhone" class="control-label"></label>
                        <input asp-for="NextOfKinPhone" class="form-control" />
                        <span asp-validation-for="NextOfKinPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

            
           
        <div>
            <h4>Payment Details</h4>
            <hr />
            <div class="col-md-4">

                <div class="form-group">

                    <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
             
        </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="WardNumber" class="control-label me-2" id="ward-number-field"></label>
                <select asp-for="WardNumber" class="form-control">
                    <option value="">-- Select Ward Number --</option>
                    <!-- Add available ward numbers as options here -->
                    <option value="1">Ward 1</option>
                    <option value="2">Ward 2</option>
                    <option value="3">Ward 3</option>
                </select>
                <span asp-validation-for="WardNumber" class="text-danger" id="bed-number-field"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="FloorNumber" class="control-label me-2"></label>
                <select asp-for="FloorNumber" class="form-control">
                    <option value="">-- Select Floor Number --</option>
                    <!-- Add available floor numbers as options here -->
                    <option value="1">Floor 1</option>
                    <option value="2">Floor 2</option>
                    <option value="3">Floor 3</option>
                </select>
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="BedNumber" class="control-label me-2" id="floor-number-field"></label>
                <select asp-for="BedNumber" class="form-control">
                    <option value="">-- Select Bed Number --</option>
                    <!-- Add available bed numbers for the selected ward and floor here -->
                    <option value="1">Bed 1</option>
                    <option value="2">Bed 2</option>
                    <option value="3">Bed 3</option>
                </select>
                <span asp-validation-for="BedNumber" class="text-danger"></span>
         
            <div class="col-md-4">
                <!-- Other fields go here -->
            </div>
            <div class="col-md-4">
                <!-- Other fields go here -->
            </div>
        </div>


       
    </div>


     

     
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>

            </div>
        
        

</div>
  

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
