@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@model HospitalManagement.Models.Patients

@{
    ViewData["Title"] = "Edit Patients";
}

<h1>Edit Patients</h1>

<h4>Patients</h4>

<h4>Patient Details</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <input type="hidden" asp-for="RegistrationNumber" value="@Model.RegistrationNumber" />

        <div class="col-md-12">
            <div class=" row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <select asp-for="MaritalStatus" class="form-control">
                            <option value="">Select Status</option>

                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="divorced">Divorced</option>
                            <option value="widowed">Widowed</option>



                        </select>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="UnderEighteen" class="form-check-input" type="checkbox" value="under18" id="under18Checkbox">
                        <label asp-for="UnderEighteen" class="form-check-label" for="under18Checkbox">
                            Patient under 18?
                        </label>
                    </div>
                    @if (Model?.UnderEighteen == true)
                    {
                        <div class="form-group">
                            <label asp-for="ParentGuardianName">Parent/Guardian Name</label>
                            <input asp-for="ParentGuardianName" class="form-control" />
                        </div>
                    }


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <select asp-for="Address" class="form-control">
                            <option value="">Select county</option>
                            <option value="baringo">Baringo</option>
                            <option value="bomet">Bomet</option>
                            <option value="bungoma">Bungoma</option>
                            <option value="busia">Busia</option>
                            <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                            <option value="embu">Embu</option>
                            <option value="garissa">Garissa</option>
                            <option value="homa bay">Homa Bay</option>
                            <option value="isiolo">Isiolo</option>
                            <option value="kajiado">Kajiado</option>
                            <option value="kakamega">Kakamega</option>
                            <option value="kericho">Kericho</option>
                            <option value="kiambu">Kiambu</option>
                            <option value="kilifi">Kilifi</option>
                            <option value="kirinyaga">Kirinyaga</option>
                            <option value="kisii">Kisii</option>
                            <option value="kisumu">Kisumu</option>
                            <option value="kitui">Kitui</option>
                            <option value="kwale">Kwale</option>
                            <option value="laikipia">Laikipia</option>
                            <option value="lamu">Lamu</option>
                            <option value="machakos">Machakos</option>
                            <option value="makueni">Makueni</option>
                            <option value="mandera">Mandera</option>
                            <option value="meru">Meru</option>
                            <option value="migori">Migori</option>
                            <option value="marsabit">Marsabit</option>
                            <option value="mombasa">Mombasa</option>
                            <option value="muranga">Muranga</option>
                            <option value="nairobi">Nairobi</option>
                            <option value="nakuru">Nakuru</option>
                            <option value="nandi">Nandi</option>
                            <option value="narok">Narok</option>
                            <option value="nyamira">Nyamira</option>
                            <option value="nyandarua">Nyandarua</option>
                            <option value="nyeri">Nyeri</option>
                            <option value="samburu">Samburu</option>
                            <option value="siaya">Siaya</option>
                            <option value="taita taveta">Taita Taveta</option>
                            <option value="tana river">Tana River</option>
                            <option value="tharaka nithi">Tharaka Nithi</option>
                            <option value="trans nzoia">Trans Nzoia</option>
                            <option value="turkana">Turkana</option>
                            <option value="uasin gishu">Uasin Gishu</option>
                            <option value="vihiga">Vihiga</option>
                            <option value="wajir">Wajir</option>
                            <option value="pokot">West Pokot</option>
                        </select>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentGuardianName" class="control-label"></label>
                        <input asp-for="ParentGuardianName" class="form-control" />
                        <span asp-validation-for="ParentGuardianName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">




                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="EmploymentStatus" class="control-label"></label>
                        <select asp-for="EmploymentStatus" class="form-control">
                            <option value="">Select Status</option>

                            <option value="Employed">Employed</option>
                            <option value="Unemployed">Unemployed</option>
                            <option value="Retired">Retired</option>
                            <option value="Retired">Other</option>



                        </select>
                        <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <div>
            <h4>NextOfKin Details</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKin" class="control-label"></label>
                        <input asp-for="NextOfKin" class="form-control" />
                        <span asp-validation-for="NextOfKin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NextOfKinAddress" class="control-label"></label>
                        <select asp-for="NextOfKinAddress" class="form-control" id="county">
                            <option value="">Select county</option>

                            <option value="baringo">Baringo</option>
                            <option value="bomet">Bomet</option>
                            <option value="bungoma">Bungoma</option>
                            <option value="busia">Busia</option>
                            <option value="elgeyo marakwet">Elgeyo Marakwet</option>
                            <option value="embu">Embu</option>
                            <option value="garissa">Garissa</option>
                            <option value="homa bay">Homa Bay</option>
                            <option value="isiolo">Isiolo</option>
                            <option value="kajiado">Kajiado</option>
                            <option value="kakamega">Kakamega</option>
                            <option value="kericho">Kericho</option>
                            <option value="kiambu">Kiambu</option>
                            <option value="kilifi">Kilifi</option>
                            <option value="kirinyaga">Kirinyaga</option>
                            <option value="kisii">Kisii</option>
                            <option value="kisumu">Kisumu</option>
                            <option value="kitui">Kitui</option>
                            <option value="kwale">Kwale</option>
                            <option value="laikipia">Laikipia</option>
                            <option value="lamu">Lamu</option>
                            <option value="machakos">Machakos</option>
                            <option value="makueni">Makueni</option>
                            <option value="mandera">Mandera</option>
                            <option value="meru">Meru</option>
                            <option value="migori">Migori</option>
                            <option value="marsabit">Marsabit</option>
                            <option value="mombasa">Mombasa</option>
                            <option value="muranga">Muranga</option>
                            <option value="nairobi">Nairobi</option>
                            <option value="nakuru">Nakuru</option>
                            <option value="nandi">Nandi</option>
                            <option value="narok">Narok</option>
                            <option value="nyamira">Nyamira</option>
                            <option value="nyandarua">Nyandarua</option>
                            <option value="nyeri">Nyeri</option>
                            <option value="samburu">Samburu</option>
                            <option value="siaya">Siaya</option>
                            <option value="taita taveta">Taita Taveta</option>
                            <option value="tana river">Tana River</option>
                            <option value="tharaka nithi">Tharaka Nithi</option>
                            <option value="trans nzoia">Trans Nzoia</option>
                            <option value="turkana">Turkana</option>
                            <option value="uasin gishu">Uasin Gishu</option>
                            <option value="vihiga">Vihiga</option>
                            <option value="wajir">Wajir</option>
                            <option value="pokot">West Pokot</option>
                        </select>
                        @*      <select id="subcounty" disabled>
                        <option value="">Select a sub-county</option>
                        </select>*@

                        <span asp-validation-for="NextOfKinAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKinName" class="control-label"></label>
                        <input asp-for="NextOfKinName" class="form-control" />
                        <span asp-validation-for="NextOfKinName" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NextOfKinPhone" class="control-label"></label>
                        <input asp-for="NextOfKinPhone" class="form-control" />
                        <span asp-validation-for="NextOfKinPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Nurse"))
        {
            <div>
                <h4>Vital Signs</h4>
                <hr />
                <div class=" row">
                    <div class="col-md-4">


                        <div class="form-group">
                            <label asp-for="Weight" class="control-label"></label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Height" class="control-label"></label>
                            <input asp-for="Height" class="form-control" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">


                        <div class="form-group">
                            <label asp-for="Temprature" class="control-label"></label>
                            <input asp-for="Temprature" class="form-control" />
                            <span asp-validation-for="Temprature" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BMI" class="control-label"></label>
                            <input asp-for="BMI" class="form-control" />
                            <span asp-validation-for="BMI" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="BloodPressure" class="control-label"></label>
                            <input asp-for="BloodPressure" class="form-control" />
                            <span asp-validation-for="BloodPressure" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            </div>

        }
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Doctor"))
        {

            <form asp-action="submit" >
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Prescription" class="control-label"></label>
                    <input asp-for="Prescription" class="form-control" />
                    <span asp-validation-for="Prescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateDispensed" class="control-label"></label>
                    <input asp-for="DateDispensed" class="form-control" />
                    <span asp-validation-for="DateDispensed" class="text-danger"></span>
                </div>


            </div>
            </form>
        }

        <div>
            <h4>Payment Details</h4>
            <hr />
            <div class="col-md-4">

                <div class="form-group">

                    <label asp-for="Payment" class="control-label"></label>
                    <input asp-for="Payment" class="form-control" />
                    <span asp-validation-for="Payment" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
